@import './lib/lib.scss';
html {
  scroll-behavior: smooth;
}
body {
  background-color: $background_color;
  color: $primary_color;
  padding: 0;
  margin: 0;
  font-family: $font_1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-size: 1rem;
  @include breakpoint(mobile) {
  }
  line-height: 1.5em;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $accent_color
}
